[Unit]
Description=launch aw-watcher-window-wayland for ActivityWatch
Requires=aw-server.service
After=aw-server.service

[Service]
ExecStart=/usr/local/bin/start_aw-watcher-window-wayland.sh

[Install]
WantedBy=graphical.target