# This is an old docker.service systemd file from 2015 that I used
# to force the docker daemon to use block storage to increase I/O
# performance.
[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=network.target docker.socket
Requires=docker.socket

[Service]
Type=notify
ExecStart=/usr/bin/docker daemon --storage-driver=devicemapper \
  --storage-opt dm.datadev=/dev/vg-docker/data \
  --storage-opt dm.metadatadev=/dev/vg-docker/metadata
MountFlags=slave
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
