[Unit]
Description="Run 'restart_iwd.service' about every 15 min"

[Timer]
OnBootSec = 15min  ; set timer relative to when the machine was booted up
OnActiveSec = 15min
OnUnitActiveSec = 15min
RandomizedDelaySec = 67
Persistent=true

[Install]
WantedBy=timers.target
