# original path to file: /etc/haproxy/haproxy.cfg
# haproxy settings for load balancer for kube-apiserver in k3s

frontend k3s-frontend
    bind *:6443
    mode tcp
    option tcplog
    default_backend k3s-backend

backend k3s-backend
    mode tcp
    option tcp-check
    balance roundrobin
    default-server inter 10s downinter 5s
    server server0 192.168.21.238:6443 check
    server server1 192.168.21.183:6443 check
    server server2 192.168.21.118:6443 check
