# Note: systemd user services normally only launch after the user
# logs in. If you want your user service to start on boot, you have
# to use `loginctl enable-linger <username>` to have the user
# process running without any open session. See 2.2 in
# https://wiki.archlinux.org/title/systemd/User

[Unit]
Description=User service to launch tmux startup script
After=network.target
Documentation=man:tmux(1)

[Service]
Type=oneshot
ExecStart=%h/bin/tmux_sway_argo.sh
ExecStop=/usr/bin/tmux kill-session -t argosway
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
