# see https://wiki.archlinux.org/title/SSH_keys#Start_ssh-agent_with_systemd_user
[Unit]
Description=SSH key agent service file for user 

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=/run/user/1000/gnupg/S.gpg-agent.ssh
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK

[Install]
WantedBy=default.target
